{{! Use the main layout }}
{{!< main }}

{{! New Post Submission Form }}
<section class="content-container">

    <section class="posts-list">
        <!-- recent posts -->

        <form action="/sortPosts" method="POST">
            <label for="sortType">Sort by:</label>
            <select name="sortType" id="sortType">
                <option value="postTime">Recently Posted</option>
                <option value="eventTime">Soonest Events</option>
                <option value="followAmount">Most Followers</option>
            </select>

            <label for="sportFilter">Filter sport:</label>
            <input type="text" name="sportFilter" id="sportFilter" placeholder="sport">

            <button type="submit">submit</button>
        </form>

        {{#if posts.length}}
        <ul>
            {{#each posts}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user userEvents=../userEvents loggedIn=../loggedIn}}            
            {{/each}}
        </ul>
        {{else}}
            <!-- no posts, oh no, what now? -->
        {{/if}}
    </section>

    {{#if loggedIn}}
        <!-- show the create post form when logged in -->
        <section class="post-form">
            <!-- make a header here -->
            <h2>Create an Event!</h2>
            <form action="/posts" method="POST">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-title" placeholder="Name your event!">
                <label for="sport">Sport:</label>
                <input type="text" name="sport" id="sport" class="form-sport" placeholder="What sport is this for?">
                <label for="eventTime">Event Time:</label>
                <input type="datetime-local" name="eventTime" id="eventTime">
                <label for="content">Event Details:</label>
                <input type="text" name="content" class="form-content" placeholder="Add some details about the event!">

                <div class="form-actions">
                    <button type="submit" class="post-button">Post</button>
                </div>
            </form>
        </section>
    {{/if}}

</section>
